/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
    color: yellow !important;
    background-color: #ffd800 !important;
    border-color: #00ff21 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: greenyellow !important;
    background-color: purple !important;
    border-color: aqua !important;
}

.border-top {
    border-top: 50px solid #ffd800 !important;
}
.border-bottom {
    border-bottom: 5px solid #00ff21 !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #00ffff7d !important;
}



button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
