@model WebProProjekt.Models.OurPicUploads

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>



<h4>OurPicUpload</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="OurPicUploads" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PicTitle" class="control-label"></label>
                <input asp-for="PicTitle" class="form-control" />
                <span asp-validation-for="PicTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicDescription" class="control-label"></label>
                <input asp-for="PicDescription" class="form-control"/>
                <span asp-validation-for="PicDescription" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PicFile" class="control-label"></label>
                <input asp-for="PicFile" type="file" class="form-control" />
                <span asp-validation-for="PicFile" class="text-danger"></span>
            </div>
            <div class="form-group" id="createButton">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <script>
        function Validator() {
            let picTit = document.getElementById("PicTitle").value;
            let picDic = document.getElementById("PicDescription").value;
            let picFile = document.getElementById("PicFile").value;
            console.log("Outer");
            while (picTit || picDic || picFile) {
                console.log("Hello");
                document.getElementsById("createButton").disabled = true;
            }
        }
    </script>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
