@{
    ViewData["Title"] = "Upload pictures";
}
<h1>@ViewData["Title"]</h1>

<p>Hey! Here you can upload all the awesome pictures you want to, or like 3. you decide.</p>

<div class="Uploaded">
    
</div>
