@using WebApplicationTest.ViewModel
@model Display


@foreach (var user in Model.IUser) //All users in database
{
	@foreach (var post in Model.pics) //all the pictures in the database
	{
		@if (user.Id == post.ProfileId)
		{
			<h1>
				Show dem pics hokus pokus!
			</h1>
			<div>
				this person @user.UserName 's picture'
				<br>
				Pic is called @post.PicTitle
				<p id="picDis">
					@post.PicDescription
				</p>
				<img src="~/Pics/@post.PicPath" alt="LOL CANT SHOW DIS" />

				<form asp-action="Delete">
					<input type="hidden" asp-for="Id" />
					<input type="submit" value="Delete" class="btn btn-danger" /> |
					<a asp-action="Index">Back to List</a>
				</form>
			</div>
		}
	}
}