@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<p>Privacy? what are you talking about?</p>

<div class="pics">
    <img src="https://i.imgflip.com/98wb80.jpg" alt="if we had privacy, we would talk about it here"/>
</div>

<a class="Catroll" href="https://youtu.be/hvL1339luv0?si=BOJ3mpXG9BZUAYFN?autoplay=1">
    <button type="button" style="left: 40%; position: absolute;">If you wanna have some privacy, click here</button>
</a>
<h1>This is how to how to get privacy forever. Beat this game of snake</h1>


<canvas id="board"></canvas>
<link rel="stylesheet" href="~/css/snake.css"><link>
<script src="~/js/snake.js" asp-append-version="true"></script>
<button type="button" id="startbutton" onclick="Start()">Start Game</button>


<a id="bucket"></a>

