html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#Input_Email{
    background-color: deepskyblue;
    color: black;
    opacity: 1;
}

#Input_Password {
    background-color: deepskyblue;
    color: black;
    opacity: 1;
    
}

.form-label {
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p {
    margin: 1%;
}

h1 {
    margin-top: 5%;
    font-weight: bold;
    text-shadow: pink;
}

.pics {
    text-align: center !important;
    position: relative !important;
    opacity: 1;
    display: block !important;
}

h2 {
    color: #0000ff;
    text-shadow: 0 0 4px #ff0000, 0 0 6px #0000ff;
}

.footer {
    background-image: url(https://cdn.pixabay.com/photo/2017/04/03/07/30/blue-flower-2197679_1280.jpg);
    color: white;
    text-shadow: 0 0 6px #258cfb;
}

#over_cat_text {
    text-align: center;
}

.pics #cat_container {
    position: relative;
    width: 100%;
    z-index: 1;
    top: 10px;
}

.cat_pic {
    transition: .5s ease;
    backface-visibility: hidden;
}

#Catroll{
  left: 50%;
}

.cat_text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cat_container:hover .cat_pic {
    opacity: 0.3;
}

#cat_container:hover .cat_text {
    opacity: 1;
}

.text {
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: cornflowerblue;
    padding: 16px 32px;
}

#cramped {
    display: none;
}

@media only screen and (max-width: 500px) {

    #cramped {
        display: block;
        position: fixed;
        z-index: 2;
        top: 2%;
        /*max-width: 100%;
        height: auto;*/
    }
}

#compliment {
    display: inline-block;
    position: absolute;
    top: 30%;
}